@font-face {
  font-family: Open Sans;
  src: url("../fonts/OpenSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Open Sans;
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: Open Sans, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

.header {
  background-image: url("../img/football_767.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #0a0e34;
  position: relative;
  width: 100%;
}

.header::after {
  content: "";
  background-color: #0a0e34;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.9;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  min-width: 280px;
  padding: 33px 20px 83px 20px;
  z-index: 2;
  place-content: center;
}

.header-logo {
  width: 133px;
  height: 35px;
  padding-bottom: 136px;
  fill: white;
  margin: auto;
}

.first-line {
  color: #fff;
  font-family: Open Sans, Arial, sans-serif;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 2rem;
  text-transform: uppercase;
}

.second-line {
  display: inline-block;
  color: #fff;
  font-family: Open Sans, Arial, sans-serif;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 2rem;
  text-transform: uppercase;
  padding-top: 20px;
  padding-left: 44px;
  padding-bottom: 88px;
}

.btn-app-store {
  background-color: #5e42b0;
  width: 280px;
  height: 35px;
  border: none;
  border-radius: 15px;
  text-decoration: none;
  display: flex;
  margin: auto;
}

.btn-app-store:active {
  background: #090c35;
}

.button-container {
  display: flex;
  width: 50%;
  height: 68%;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.btn-app-store-icon {
  fill: #fff;
  width: 25px;
  height: 25px;
}

.sign {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  font-size: 10px;
}

.first-sign {
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1em;
}

.second-sign {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1em;
  margin-top: -5px;
}

.btn-google {
  background-color: #5e42b0;
  width: 280px;
  height: 35px;
  border: none;
  border-radius: 15px;
  text-decoration: none;
  display: flex;
  margin: auto;
  margin-top: 14px;
}

.btn-google:active {
  background: #090c35;
}

.btn-google-icon {
  fill: #fff;
  width: 25px;
  height: 25px;
}

.title-player {
  text-transform: uppercase;
  color: #e7e7e7;
  font-size: 50px;
  font-weight: 700;
  padding-top: 24px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 60px;
}

.title-athlet {
  text-transform: uppercase;
  color: #e7e7e7;
  font-size: 50px;
  font-weight: 700;
  padding-top: 24px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 60px;
}

.football-pl {
  left: 70px;
  top: -225px;
  position: absolute;
}

.basketball-pl {
  left: 12px;
  top: -225px;
  position: absolute;
}

.connection-card {
  margin-top: 245px;
  background-color: #fafafa;
  width: 100%;
  min-height: 213px;
  display: flex;
  position: relative;
}

.collaboration-card {
  background-color: #f5f4f9;
  width: 100%;
  min-height: 213px;
  display: flex;
}

.growth-card-athlets {
  background-color: #5e42b0;
  width: 100%;
  min-height: 213px;
  display: flex;
}


.connection-card-player {
  margin-top: 245px;
  background-color: #fafafa;
  width: 100%;
  min-height: 213px;
  display: flex;
  position: relative;
}

.collaboration-card-player {
  background-color: #f5f4f9;
  width: 100%;
  min-height: 213px;
  display: flex;
}


.growth-card-player {
  background-color: #090c35;
  width: 100%;
  min-height: 213px;
  display: flex;
}

.card-content {
  display: flex;
  flex-wrap: wrap;
  padding: 60px 20px 60px 20px;
  margin: auto;
  font-size: 10px;
}

.h4-list {
  font-size: 2.3em;
  color: #c1c1c1;
  text-transform: uppercase;
  padding-left: 11px;
  line-height: 35px;
}

.number {
  font-size: 1.4em;
  font-weight: 700;
  position: relative;
  margin-top: 6px;
}

.h4-number {
  display: flex;
  margin-right: auto;
}

.number::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 4px;
  top: 18px;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #5e42b0;
  justify-content: center;
  border-radius: 15px;
}

.description {
  font-size: 1.5em;
  color: #000000;
  font-weight: normal;
  padding-top: 28px;
}

.growth-athlet-text {
  color: #ffffff;
  font-weight: normal;
  padding-top: 28px;
  font-size: 1.5em;
}

.growth-player-text {
  color: #ffffff;
  font-weight: normal;
  padding-top: 28px;
  font-size: 1.5em;
}

.number-growth {
  font-size: 1.4em;
  font-weight: 700;
  position: relative;
  margin-top: 6px;
}

.number-growth::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 4px;
  top: 18px;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #ffffff;
  justify-content: center;
  border-radius: 15px;
}

.number-growth-basketballer {
  font-size: 1.4em;
  font-weight: 700;
  position: relative;
  color: #8765dd;
  margin-top: 6px;
}

.number-growth-basketballer::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 4px;
  top: 18px;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #ffffff;
  justify-content: center;
  border-radius: 15px;
}

.to-does-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 280px;
  padding: 33px 20px 33px 20px;
  font-size: 10px;
  position: relative;
}

.be-active {
  min-height: 563px;
  width: 100%;
}

.be-active-referee {
  min-height: 563px;
  width: 100%;
}

.player-section-img {
  max-width: 100%;
  height: auto;
}

.player-section-img-referee {
  max-width: 100%;
  height: auto;
}

.to-does {
  min-width: 280px;
  min-height: 1125px;
}

.square-1 {
  width: 70px;
  height: 70px;
  background: #5e42b0;
  position: absolute;
  left: 20px;
  top: -59px;
}

.h4-list-2 {
  font-size: 2.3em;
  color: #c1c1c1;
  text-transform: uppercase;
  line-height: 35px;
}

.square-1::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 4px;
  top: 48px;
  right: 0;
  left: 27px;
  bottom: 0;
  background-color: #8f7bc8;
  justify-content: center;
  border-radius: 15px;
}

.square-1::before {
  content: "01";
  position: absolute;
  top: 20px;
  right: 0;
  left: 27px;
  bottom: 0;
  justify-content: center;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
}

.square-2 {
  width: 70px;
  height: 70px;
  background: #5e42b0;
  position: absolute;
  left: 20px;
  top: -59px;
}

.square-2::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 4px;
  top: 48px;
  right: 0;
  left: 27px;
  bottom: 0;
  background-color: #8f7bc8;
  justify-content: center;
  border-radius: 15px;
}

.square-2::before {
  content: "02";
  position: absolute;
  top: 20px;
  right: 0;
  left: 27px;
  bottom: 0;
  justify-content: center;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
}

.square-3 {
  width: 70px;
  height: 70px;
  background: #5e42b0;
  position: absolute;
  left: 20px;
  top: -59px;
}

.square-3::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 4px;
  top: 48px;
  right: 0;
  left: 27px;
  bottom: 0;
  background-color: #8f7bc8;
  justify-content: center;
  border-radius: 15px;
}

.square-3::before {
  content: "03";
  position: absolute;
  top: 20px;
  right: 0;
  left: 27px;
  bottom: 0;
  justify-content: center;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
}

.footer {
  background-image: url("../img/game_767.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #0a0e34;
  position: relative;
  width: 100%;
}

.footer::after {
  content: "";
  background-color: #0a0e34;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.9;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  min-width: 280px;
  padding: 98px 20px 10px 20px;
  z-index: 2;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.footer-square-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icon-short {
  fill: #ffffff;
  width: 58px;
  height: 49px;
  position: absolute;
  stroke: #1a0089;
}

.round-square {
  width: 72px;
  height: 72px;
  border-radius: 15px;
  background: linear-gradient(180deg, #7756d7, #50379b);
}

.footer-h2 {
  font-size: 3.2em;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 57px;
  line-height: 31px;
}

.footer-sign {
  color: #9b8ec1;
  font-size: 1.4em;
  padding-top: 13px;
  padding-bottom: 77px;
  text-transform: uppercase;
}

.footer-logo-full {
  fill: #ffffff;
  width: 133px;
  height: 35px;
  padding-top: 81px;
}