@font-face {
  font-family: Open Sans;
  src: url("../fonts/OpenSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Open Sans;
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: Open Sans, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
}

.header {
  background-image: url("../img/football_1920.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #0a0e34;
  position: relative;
  width: 100%;
}

.header::after {
  content: "";
  background-color: #0a0e34;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.9;
}

.container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  min-width: 1531px;
  padding: 43px 192px 110px 192px;
  z-index: 2;
  justify-content: center;
  align-items: center;
}

.header-logo {
  width: 190px;
  height: 50px;
  padding-bottom: 296px;
  margin: auto;
  fill: white;
}

* {
  margin: 0;
  padding: 0;
}

.first-line {
  color: #fff;
  font-family: Open Sans, Arial, sans-serif;
  font-size: 90px;
  font-weight: 700;
  line-height: 4.5rem;
  text-transform: uppercase;
}

.second-line {
  display: flex;
  color: #fff;
  font-family: Open Sans, Arial, sans-serif;
  font-size: 90px;
  font-weight: 700;
  line-height: 4.5rem;
  text-transform: uppercase;
  padding-top: 26px;
  padding-left: 410px;
  padding-bottom: 223px;
}

.btn-app-store {
  background-color: #5e42b0;
  min-width: 312px;
  min-height: 77px;
  border: none;
  border-radius: 55px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 122px;
}

.btn-app-store:active {
  background: #090c35;
}

.button-container {
  min-width: 70%;
  min-height: 60%;
  display: flex;
  flex-wrap: nowrap;
}

.btn-app-store-icon {
  fill: #fff;
  width: 43px;
  height: 43px;
}

.sign {
  display: flex;
  flex-direction: column;
  margin-left: 27px;
  font-size: 10px;
}

.first-sign {
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.4em;
  padding-top: 7px;
}

.second-sign {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.4em;
  padding-top: -2px;
}

.btn-google {
  background-color: #5e42b0;
  min-width: 312px;
  min-height: 77px;
  border: none;
  border-radius: 55px;
  text-decoration: none;
  margin-left: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 122px;
}

.btn-google:active {
  background: #090c35;
}

.btn-google-icon {
  fill: #fff;
  width: 43px;
  height: 43px;
}

.title-athlet {
  display: flex;
  text-transform: uppercase;
  color: #e7e7e7;
  font-size: 70px;
  font-weight: 700;
  padding-top: 85px;
  line-height: 60px;
  justify-content: flex-end;
  padding-right: 610px;
}

.title-player {
  text-transform: uppercase;
  color: #e7e7e7;
  font-size: 70px;
  font-weight: 700;
  padding-top: 117px;
  line-height: 60px;
  padding-left: 185px;
}

.football-pl {
  left: 180px;
  top: -120px;
  position: absolute;
}

.basketball-pl {
  right: 10px;
  top: -180px;
  position: absolute;
}

.connection-card {
  min-height: 213px;
  display: flex;
  position: relative;
  margin-left: auto;
  justify-content: flex-end;
  padding-right: 198px;
}

.collaboration-card {
  background-color: #f5f4f9;
  min-height: 213px;
  display: flex;
  margin-left: auto;
  justify-content: flex-end;
  padding-right: 198px;
}

.connection-card-player {
  min-height: 213px;
  display: flex;
  position: relative;
  padding-left: 191px;
}

.collaboration-card-player {
  background-color: #f5f4f9;
  min-height: 213px;
  display: flex;
  padding-left: 191px;
}

.growth-card-athlets {
  background-color: #5e42b0;
  min-height: 213px;
  display: flex;
  justify-content: flex-end;
  padding-right: 198px;
}

.growth-card-player {
  background-color: #090c35;
  min-height: 213px;
  display: flex;
  padding-left: 191px;
}

.card-content {
  width: 714px;
  flex-wrap: wrap;
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 15px;
  line-height: 28px;
  font-weight: normal;
}

.h4-list {
  font-size: 2.3em;
  color: #c1c1c1;
  text-transform: uppercase;
  padding-left: 11px;
  line-height: 35px;
  padding-bottom: 30px;
}

.number {
  font-size: 1.2em;
  font-weight: 700;
  position: relative;
  margin-top: 6px;
}

.h4-number {
  display: flex;
  margin-right: auto;
}

.number::after {
  content: "";
  position: absolute;
  width: 23px;
  height: 6px;
  top: 30px;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #5e42b0;
  justify-content: center;
  border-radius: 15px;
}

.description {
  font-size: 22px;
  color: #000000;
  font-weight: normal;
  line-height: 28px;
}

.growth-athlet-text {
  color: #ffffff;
  font-weight: normal;
  font-size: 1.5em;
}

.growth-player-text {
  color: #ffffff;
  font-weight: normal;
  font-size: 1.5em;
}

.number-growth {
  font-size: 1.2em;
  font-weight: 700;
  position: relative;
  margin-top: 6px;
}

.number-growth::after {
  content: "";
  position: absolute;
  width: 23px;
  height: 6px;
  top: 30px;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #ffffff;
  justify-content: center;
  border-radius: 15px;
}

.number-growth-basketballer {
  font-size: 1.2em;
  font-weight: 700;
  position: relative;
  color: #8765dd;
  margin-top: 6px;
}

.number-growth-basketballer::after {
  content: "";
  position: absolute;
  width: 23px;
  height: 6px;
  top: 30px;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #ffffff;
  justify-content: center;
  border-radius: 15px;
}

.to-does-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 50%;
  padding-top: 263px;
  padding-left: 181px;
  padding-right: 181px;
  font-size: 10px;
  position: relative;
  box-sizing: border-box;
}


.player-section-img {
  max-width: 50%;
  float: left;
}

.player-section-img-referee {
  max-width: 50%;
  float: right;
}

.be-active {
  width: 1920px;
  height: 735px;
  display: flex;
}

.be-active-referee {
  width: 1920px;
  height: 735px;
  margin-top: -49px;
  margin-left: 64px;
  display: block;
}

.square-1 {
  width: 160px;
  height: 160px;
  background: #5e42b0;
  position: absolute;
  left: -15px;
  top: 300px;
}

.h4-list-2 {
  font-size: 70px;
  color: #c1c1c1;
  text-transform: uppercase;
  line-height: 90px;
  padding-bottom: 90px;
}

.square-1::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 5px;
  top: 100px;
  right: 0;
  left: 65px;
  bottom: 0;
  background-color: #8f7bc8;
  justify-content: center;
  border-radius: 15px;
}

.square-1::before {
  content: "01";
  position: absolute;
  top: 35px;
  right: 0;
  left: 65px;
  bottom: 0;
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
}

.square-2 {
  width: 160px;
  height: 160px;
  background: #5e42b0;
  position: absolute;
  right: -80px;
  top: 300px;
}

.square-2::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 5px;
  top: 100px;
  right: 0;
  left: 65px;
  bottom: 0;
  background-color: #8f7bc8;
  justify-content: center;
  border-radius: 15px;
}

.square-2::before {
  content: "02";
  position: absolute;
  top: 35px;
  right: 0;
  left: 65px;
  bottom: 0;
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
}

.square-3 {
  width: 160px;
  height: 160px;
  background: #5e42b0;
  position: absolute;
  left: -15px;
  top: 300px;
}

.square-3::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 5px;
  top: 100px;
  right: 0;
  left: 65px;
  bottom: 0;
  background-color: #8f7bc8;
  justify-content: center;
  border-radius: 15px;
}

.square-3::before {
  content: "03";
  position: absolute;
  top: 35px;
  right: 0;
  left: 65px;
  bottom: 0;
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
}

.footer {
  background-image: url("../img/game_1280.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #0a0e34;
  position: relative;
  width: 100%;
}

.footer::after {
  content: "";
  background-color: #0a0e34;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.9;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  min-width: 864px;
  padding: 229px 527px 51px 527px;
  z-index: 2;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  margin: auto;
}

.footer-square-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icon-short {
  fill: #ffffff;
  width: 103px;
  height: 85px;
  position: absolute;
  stroke: #1a0089;
}

.round-square {
  width: 130px;
  height: 136px;
  border-radius: 30px;
  background: linear-gradient(180deg, #7756d7, #50379b);
}

.footer-h2 {
  font-size: 80px;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 60px;
  padding-left: 35px;
  margin-top: -30px;
}

.footer-sign {
  display: inline-block;
  color: #9b8ec1;
  font-size: 31px;
  padding-bottom: 162px;
  text-transform: uppercase;
  line-height: 30px;
  padding-left: 70px;
  padding-top: -200px;
  margin-top: -35px;
}

.footer-logo-full {
  fill: #ffffff;
  width: 204px;
  height: 56px;
  margin: 81px;
}